.order {
  width: 45%;
  margin: 0 auto;
}

.order .order_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.order .order_header h1 {
  font-size: 24px;
  color: var(--dark-color);
  text-transform: capitalize;
}

.order .order_header .status {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.order .order_header .prepare {
  width: fit-content;
  display: block;
  padding: 2px 10px;
  color: var(--light-color);
  text-transform: uppercase;
  background-color: #22c55e;
  border-radius: 50px;
  font-weight: 500;
}

.order .order_header .prepare.priority {
  background-color: #ef4444;
}

.order .order_content .head {
  background-color: #e7e5e4;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order .order_content .head .title {
  font-size: 18px;
  color: var(--dark-color);
  font-weight: 500;
  text-transform: capitalize;
}

.order .order_content .head .time {
  font-size: 12px;
  color: #aaaaaa;
}

.order .order_content .footer {
  background-color: #e7e5e4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 16px;
  text-transform: capitalize;
}

.order .order_content .footer .total {
  font-weight: 600;
  color: var(--dark-color);
}

.order .order_content .body .item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e7e5e4;
}

.order .order_content .body .item:last-child {
  border: 0;
}

.order .order_content .body .item .info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #aaaaaa;
}

.order .order_content .body .item .info .ingrediants {
  display: block;
  font-size: 14px;
}

.order .order_content .body .item .price {
  font-size: 17px;
  color: var(--dark-color);
  font-weight: 600;
}

.order > .footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
